:root{
    --color1: #2C3E50;
    --color2: #1ABC9C;
    --color3: #3A546D;
}

.bkg-1{
    background-color: var(--color1);
}
.bkg-2{
    background-color: var(--color2);
}
.bkg-3{
    background-color: var(--color3);
}

.avatar-icon{
    width: 20%;
}

h5{
}

ul{
    list-style: none;
}

.gap{
    column-gap: 1rem;
}

.pb-massage{
    padding-bottom: 4rem;
}